<!DOCTYPE html>
<html lang="en">

<%- include('./partials/header.ejs')%>

    <body>

        <!-- navigation bar  -->
        <%- include('./partials/nav.ejs')%>

            <div class="parallax-window-header" data-parallax="scroll" data-image-src="/image">
                <div class="parallax">

                    <div class="container pages-md">
                        <div class="row center text-center p-5">
                            <h1 class="francois-font text-light">About Supfly</h1>
                            <h3 class="lh-xs text-light">Supfly is a marketplace and crowdfunding platform that <br
                                    class="mobile-off"> empowers our farmers by connecting them to anyone.</h3>
                        </div>

                    </div>

                </div>
            </div>


            <!-- rewards  -->

            <section>

                <div class="container-fluid">

                    <div class="row text-center">

                        <div class="feature-box col-lg-4">
                            <i class="icon fa-solid fa-award fa-4x"></i>
                            <h3 class="feature-title francois-font">Globallly Recognized</h3>
                            <p>Supfly is a globally recognized organization whose development is being supported by
                                institutions
                                in the U.S.A, Netherlands, Malaysia, and the Philippines. We are a social enterprise
                                providing
                                farmers access to scalable and sustainable financing.</p>
                        </div>

                        <div class="feature-box col-lg-4">
                            <i class="icon fa-solid fa-handshake-angle fa-4x"></i>
                            <h3 class="feature-title francois-font">Community of Impactmakers</h3>
                            <p>Supfly provides you as our users and investors an opportunity to directly impact a life
                                and at
                                the same time grow your money. Your decision to join our community brings our
                                smallholder
                                farmers a step closer to the hope of a better life.</p>
                        </div>

                        <div class="feature-box col-lg-4">
                            <i class="icon fa-solid fa-trophy fa-4x"></i>
                            <h3 class="feature-title francois-font">See the Rewards</h3>
                            <p>In Supfly, doing good comes with great rewards. A net profit sharing scheme has been put
                                into
                                place to secure sustainability and scalability. Use cases and historical statistical
                                data show
                                rates of returns for users, ranging from 3% to 30% in less than 6 months time.</p>
                        </div>

                    </div>

                </div>

            </section>

            <!-- improve  -->

            <section class="improve">

                <div class="improve row p-5 text-center">

                    <div class="col-md-1"></div>
                    <div class="col-md-10 p-3">
                        <h2>
                            We aim to improve the income and productivity of our farmers through crowdfunding.
                        </h2>
                    </div>
                    <div class="col-md-1"></div>

                </div>

            </section>

            <!-- demographic  -->

            <section class="demographic">

                <div class="container pt-5">
                    <div class="text-center p-1">

                        <img src="/image/ph.png" alt="">
                        <h3 class="pt-2">
                            A Glimpse on our Farmers' Lives and the Philippine Agriculture.
                        </h3>

                    </div>

                    <div class="row pt-3">
                        <div class="container text-center col-md-4 col-sm-12">
                            <h1 class="sup">₱ 2,000</h1>
                            <h3>Average Monthly Income</h3>
                        </div>
                        <div class="container text-center col-md-4 col-sm-12">
                            <h1 class="sup">57 y/o</h1>
                            <h3>Average Age</h3>
                        </div>
                        <div class="container text-center col-md-4 col-sm-12">
                            <h1 class="sup">2 out of 3</h1>
                            <h3>Life below the poverty line</h3>
                        </div>
                        <div>
                            <p class="fs-5 text-center mt-5">
                                Despite being an agricultural country, we are among the <span class="fw-bold">top rice
                                    importers</span> in the world.
                                Agriculture also contributes only <span class="fw-bold">9% of the country’s GDP</span>,
                                while
                                contributing to the majority of the country’s employment.<br>
                                <br>
                                <span class="fw-bold">This reality of the Philippine agriculture sector is baffling and
                                    unacceptable. Supfly exists to help solve these problems.</span>
                            </p>
                        </div>
                    </div>

                </div>

            </section>

            <!-- footer  -->
            <footer class="navbar bg-dark text-center">

                <div class="container-fluid p-5">

                    <div class="container w-25 my-2">
                        <svg class="supfly-footer" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 155.19 157.42">
                            <defs>
                                <style>
                                    .cls-1 {
                                        fill: #234c52;
                                    }

                                    .cls-2 {
                                        fill: #9c343a;
                                    }
                                </style>
                            </defs>
                            <title>Supfly logo small</title>
                            <path class="cls-1"
                                d="M338.88,403.58c-.75-5.33-1.95-10.79-3.24-10.76-.75,0-.9,1.85-3,4.6a19.43,19.43,0,0,1-3,3.06c-4.18,3.64-11.48,6.31-11.48,6.31-7.28,2.82-11,4.25-16.12,5.06-5.93.95-8.35.35-10.17-.81a8.1,8.1,0,0,1-3.64-4.86c-.73-3.3,1.18-6.54,3.15-8.26,3.82-3.36,7.94-1.08,14.86-2.17,7.53-1.19,12.57-5.46,17.39-9.53,3.81-3.23,10.29-8.83,13.58-18.31,6.64-19.15-5.92-36.06-8.05-38.92-2.66-3.59-6.22-7.42-7.59-6.71-1.84,1,3.17,8.55.88,17.39-2,7.67-8.5,12.55-13.31,16.16a60.49,60.49,0,0,1-12.36,6.93c-.56.23-2.43,1-5,1.86-5,1.67-8.83,2.27-9.76,2.56-17.26,5.34-27.56,19.35-30.28,23.06a45,45,0,0,0-6.6,11.52c-3.94,10.5-2.46,19.84-1.65,24.63,4.94,29,31.68,44.3,34.89,46.08,12.64,7,24.12,8.13,24.88,6.48s-8.37-7.46-9.84-15.65c-.1-.57-.18-1.21-.18-1.21a23.17,23.17,0,0,1,1.44-11.38,25.12,25.12,0,0,1,2.6-4.69c6-8.19,17.73-4.17,29-12.23a31.14,31.14,0,0,0,10.42-13.27A33,33,0,0,0,338.88,403.58Z"
                                transform="translate(-184 -322.19)" />
                            <path class="cls-2"
                                d="M250.26,380.21A88.65,88.65,0,0,1,265,368.58c10-6.2,14.32-6.09,14.32-8.05,0-4.2-20-12.41-37.52-6.35-12.54,4.34-10.81,13.13-26,18.53-3.95,1.41-13,4-21.47,6.13-5,1.24-10.38,2.46-10.29,3.16.21,1.62,29.93-2.37,39.39,6.73a40.54,40.54,0,0,0,4.36,3.61c.74.54,9.47,6.78,11.83,4.7.49-.44.28-.78,1.27-3.6a23.93,23.93,0,0,1,1.16-2.71C243.16,388.4,245.07,385.27,250.26,380.21Z"
                                transform="translate(-184 -322.19)" />
                        </svg>
                    </div>

                    <div class="">
                        <p></p>
                        <p class="text-light">Contact Us</p>
                        <p class="text-light">Privacy Policy</p>
                        <p class="text-light">Terms and Conditions</p>
                    </div>

                    <div class="connect container p-2 w-25">
                        <h3 class="text-light">Connect with us!</h3>
                        <div class="faBrands">
                            <i class="fa-brands fa-facebook text-light mx-3"></i>
                            <i class="fa-brands fa-instagram text-light mx-3"></i>
                            <i class="fa-brands fa-twitter text-light mx-3"></i>
                            <i class="fa-solid fa-envelope text-light mx-3"></i>
                        </div>

                    </div>

                    <!-- mobile view only  -->
                    <div class="connectMobile container p-2">
                        <h3 class="text-light">Connect with us!</h3>
                        <div class="faBrands">
                            <i class="fa-brands fa-facebook text-light mx-3"></i>
                            <i class="fa-brands fa-instagram text-light mx-3"></i>
                            <i class="fa-brands fa-twitter text-light mx-3"></i>
                            <i class="fa-solid fa-envelope text-light mx-3"></i>
                        </div>

                    </div>


                </div>

                <div class="container">

                    <p class="text-light"><i class="fa-solid fa-copyright"></i> Supfly Corporation. All rights reserved.
                    </p>

                </div>

            </footer>

            <script src="//code.tidio.co/6qe6yzkqjpby0g6xnqcmxv1hcpeqbur3.js" async></script>

    </body>

</html>